


$background_color:linear-gradient(to right, rgb(255, 199, 14), rgb(247, 247, 51));
$hover_background_color:linear-gradient(to right, rgb(195, 14, 14), rgb(248, 8, 8));

.admin_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 13px 8px 13px;
}
.buttonS_admin{
    display: flex;
    flex-direction: row;
}
.admin_btn {
    background-image: linear-gradient(to right, rgb(255, 199, 14), rgb(247, 247, 51));
    border-radius: 32px;
    padding: 6px 10px 6px 10px;
    margin: 10px 20px 12px 15px;
    border: white;
}
.admin_btn:hover{
    background-image: $hover_background_color;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.right_admin_section{
    margin-left: 25%;
}