$background_color: white;


* {
    box-sizing: border-box;
  }

  /* Style the body */
  body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
  }
  /* Active/current link */
.navbar a.active {
    // background-color: rgba(255, 255, 255, 0.892);
    color: rgb(146, 19, 19);
  }

  /* absolute navbar - toggles between absolute and absolute, depending on the scroll position. It is positioned absolute until a given offset position is met in the viewport - then it "sticks" in place (like position:absolute). The absolute value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: $background_color;
    position: absolute;
    position: -webkit-absolute;
    z-index: 1;
    top: 0;
    color: rgb(146, 19, 19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-bottom: 3px solid rgb(255, 217, 49);
  }

  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: flex;
    font-style: bold;
    font-size: larger;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 11px 12px;
    text-decoration: none;
    margin-top: 12px;
    // border-radius: 15px;
    gap:4px;
    color: rgb(146, 19, 19);
    margin-left: 12px;
    border-right: 2px solid rgb(146, 19, 19);
    @media screen and (max-width: 700px) {
      float: left;
    display: flex;
    font-style: bold;
    font-size: larger;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 11px 12px;
    text-decoration: none;
    margin-top: 12px;
    // border-radius: 15px;
    // gap:4px;
    color: rgb(146, 19, 19);
    margin-left: 12px;
    border-right: 3px solid rgb(146, 19, 19);
}
  }

  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }




  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 420px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .header_image {
    float: left;
    margin-left: 40px;
    padding: 0 10px;
    height: 60px;
    width: 100px;
    @media screen and (max-width: 420px) { 
      float: left;
      margin-left: 30px;
      padding: 0 10px;
      height: 50px;
      width: 80px;
  } 
}
.last3buttons {
    display: flex;
    flex-direction: row;
    float: right;
    background: rgb(225, 190, 26);
    background: linear-gradient(90deg, rgb(255, 217, 49) 30%, rgba(246, 239, 6, 0.9473039216) 70%, rgb(255, 247, 26) 80%);
    padding-left: 32px;
    padding-right: 43px;
    margin-right: 5px;
    padding-bottom: 13px;
    @media screen and (max-width: 420px) { 
      display: flex;
    flex-direction: row;
    float: right;
    background: rgb(225, 190, 26);
    background: linear-gradient(90deg, rgb(255, 217, 49) 30%, rgba(246, 239, 6, 0.9473039216) 70%, rgb(255, 247, 26) 80%);
    padding-left: 52px;
    padding-right: 63px;
    margin-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 0%;
  } 
}
.center_location {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  @media screen and (max-width: 420px) { 
    padding-right: 40px;

} 

}