.w-100 {
    /* width: 100% !important; */
    width: 1338px;
    height: 523px;
}
.container_slider {
    margin-top: 38px;
    margin-left: 107px;
    border-radius: 20px;
    margin-right: 117px;
  margin-bottom: 50px;
}
.image_container{
    border-radius: 12%;
}