// _base.scss
$font-stack: Helvetica, sans-serif;
$primary-color: yellow;
$front-page-button:blue;
$bacground:white;
$button_color:linear-gradient(to right, rgb(255, 199, 14) , rgb(247, 247, 51));
/*  /* The image used */
        /*background-image: url("photographer.jpg");*/       
        /* Add the blur effect */
       /* filter: blur(2px);
        -webkit-filter: blur(2px);   
        /* Full height */
       /* height: 100%; 
        /* Center and scale the image nicely */
      /*  background-position: center;
        background-repeat: no-repeat;
        background-size: cover;*/
img {

    height: 70px;
    max-width: 70px;
   margin-left:230px;

  }
h1{
    color: $primary-color;
    text-align: center;
    font-weight: 1000;
}
.container {
    height: 497px;
    width: 512px;
    padding: 10px;
    // border: 2px solid black;
    margin-left: 480px;
    margin-top: 140px;
    background-color: white;
    border-radius: 36px;
    box-shadow:6px 6px 10px 10px lightgray;
}
button{
    background-image: $button_color;
    border-radius: 18px;
    height: 40px;
    width:100px;
    border: none;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow:6px 6px 10px 0px lightgray;
    margin-left: 50px;

}
button:hover{
    background-image: linear-gradient(to right,  rgb(247, 247, 51) ,  rgb(255, 199, 14));;
    border-radius: 18px;
    box-shadow:6px 6px 10px 0px gray;
    z-index: 2;
}
h3{
    text-align: center;
}
.location_button_margin{
margin-left: 150px;
}
.above_select_box{
width: 445px;
margin-left: 32px;
}
.below_select_box{
    width: 445px;
    margin-left: 32px;
}
.Select_button_margin {
    margin-left: 36px;
    height: 44px;
    width: 429px;
}
/*    ////////////////////////////////////////// //////////////////////////////*/
